<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="grocery.css" type="text/css">
</head>
<script></script>
<body>
    <h1 class="title">Grocery List</h1>
    <div class="container">
        <div class="box">
            <h2>Monday</h2>
            <hr>
            <div class="meal-box">
            <h4>Breakfast</h4>
            </div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
                
        </div>
            <div class="box">
            <h2>Tuesday</h2>
            <hr>
            <div class="meal-box"><h4>Breakfast</h4></div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>
            <div class="box">
            <h2>Wednesday</h2>
            <hr>
            <div class="meal-box"><h4>Breakfast</h4></div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>
            <div class="box">
            <h2>Thursday</h2>
            <hr>
            <div class="meal-box"><h4>Breakfast</h4></div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>
            <div class="box">
            <h2>Friday</h2>
            <hr>
            <div class="meal-box"><h4>Breakfast</h4></div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>
            <div class="box">
            <h2>Saturday</h2>
            <hr>
            <div class="meal-box">
                <h4>Breakfast</h4>
            </div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>
            <div class="box">
            <h2>Sunday</h2>
            <hr>
            <div class="meal-box"><h4>Breakfast</h4></div>
            <div class="meal-box"><h4>lunch</h4></div>
            <div class="meal-box"><h4>Dinner</h4></div>
        </div>

        
    </div>
</body>

</html>